*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: silver;
}

.contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

img{
    width: 100%;
}

header, footer{
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

header{
    background-color:midnightblue;
}

footer{
    width: 100%;
    background-color:black;
    margin-bottom: 0;
}

section, aside, footer{
    float: left;
    padding: 20px;
}

section{
    width: 70%;
    background-color: white;
}

aside{
    width: 30%;
    background-color: deepskyblue;
}

@media screen and (max-width:850px) {
    section{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .contenedor{
        width: 100%;
    }
}